{% extends 'base.html.twig' %}

{% block title %}Create template{% endblock %}

{% block body %}
<section>
<h1>Create a new template</h1>
<div class="left-column">
<p>Template</p>
<a href="#" class="btn btn-primary">Changer de template</a>

</div>
</section>
{% endblock %}
